@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 18px/1.1 'Poppins', Arial, sans-serif;
}

.plus {
  position: absolute;
  top: 34px;
  left: 70%;
}

.triangle {
  position: absolute;
  top: 230px;
  left: 5%;
}

.header {
  width: 1056px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  .slogan {
    padding-top: 64px;
    font-size: 1rem;
    line-height: 100%;
    display: block;
    letter-spacing: 5.4px;
  }

  .header-h {
    font-size: 87px;
    line-height: 90px;
    padding-top: 16px;
    font-weight: 600;
  }
}

.slider {
  padding: 70px 0;
  margin: 0 auto;
  max-width: 2000px;

  .mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #32eaad;
    display: none;
    z-index: 1;
    color: white;
    padding: 40px 30px;
    text-transform: uppercase;

    h2 {
      font: 28px/24px 'Poppins', Arial, sans-serif;
      width: 80%;
    }

    p {
      font: 600 12px/24px 'Poppins', Arial, sans-serif;
      padding-top: 10px;

    }
  }

  .slide {
    max-width: 440px;
    //margin: 0 22px;
    border: 22px solid white;
    position: relative;
    outline: none;

    img {
      width: 100%;
    }

    &:hover .mask {
      display: flex;
      opacity: .8;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .slick-arrow {
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100px;
    height: 100px;
    //border-radius: 50%;

    opacity: 0.5;
    border: none;
    z-index: 1;
    outline: none;
    cursor: pointer;
  }

  .slick-arrow:hover {
    opacity: 1;
  }

  .slick-prev {
    left: 20px;
    background: url("../img/arrow-prev.png") no-repeat;
    background-size: cover;
  }

  .slick-next {
    right: 20px;
    background: url("../img/arrow-next.png") no-repeat;
    background-size: cover;
  }
}